

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
    font-weight: normal;
}


/*<editor-fold desc="navigation list">*/

#menu .logo img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 34px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 7px;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-navigation ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 50px;
    padding: 0;
    list-style: none;
    margin-right: 40px;
}

.menu-navigation li a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #222;
    padding: 8px 4px;
}

.menu-navigation li a:hover {
    color: #69D14F;
    transition: color 0.2s ease-out;
}

.menu-navigation .sign-up {
    background-color: #69D14F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
}

/*</editor-fold>*/


/*<editor-fold desc="get started">*/

#get-started {
    display: flex;
    margin: 4%;
    padding-top: 4%;
}

.get-started-text {
    justify-content: center;
    align-items: center;
    padding-right: 13%;
    padding-left: 8%;
    font-size: 155%;
}

.get-started-text h2 {
    color: #323434;
    font-weight: bolder;
}
.get-started-text p {
    color: #474747;
    font-weight: lighter;
}

.download-qr {
    padding-right: 16%;
    padding-top: 1.5%;
}


/*</editor-fold>*/

/*<editor-fold desc="discover app">*/

#discover-our-app-head h2 {
    display: flex;
    justify-content: center;
    padding-top: 6%;
    font-weight: bolder;
    font-size: xxx-large;
    color: #323434;
}

#discover-our-app {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    margin: 3%;
}


/*</editor-fold>*/

/*<editor-fold desc="text and phones">*/
#book-car {
    max-width: 1200px;
    margin: 60px auto;
    padding: 140px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 64px;

}
.application-book-car img {
    width: 100%;
    height: 100%;
}

#get-going {
    max-width: 1200px;
    margin: 60px auto;
    padding: 140px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 64px;

}
.application-get-going img {
    width: 100%;
    height: 100%;
}

#ending-trip {
    max-width: 1200px;
    margin: 60px auto;
    padding: 140px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 64px;

}
.application-ending-trip img {
    width: 100%;
    height: 100%;
}



/*</editor-fold>*/


/*<editor-fold desc="footer">*/
#information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #f5f5f5;
    padding-top: 4%;
    column-gap: 64px;
}
.company-information img {
    width: 55%;
    height: 15%;
}

#information






/*</editor-fold>*/

